/*Abaixo deixei as cores utilizadas no projeto */
:root {
    --cor-1: #224;
    --cor-2: #515255;
    --cor-3: #818388;
    --cor-4: #F52;
    --cor-5: #FCFDFF;
    --cor-6: #303133;
    --cor-7: #113;
    --cor-8: #E6E9F2;
    --cor-9: #FEFEFE;
}


/* Classe com animação do ponteiro para ser adiciona nos elementos de interação */
.h {
    cursor: pointer;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    display: flex;
    width: 100%;
    height: 4.5625rem;
    padding: 1rem 1.875rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--cor-7);
    background: var(--cor-7);
}

.menu {
    display: none;
}

.h-1 {
    display: flex;
    align-items: center;
    gap: 5.25rem;
}

.link {
    text-decoration: none;
    font: 1em sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.00938rem;
    color: var(--cor-5);

    margin-left: 2.5rem;
}

.h-2 {
    display: flex;
    gap: 1rem;
}

.icon-user {
    width: var(--5, 2.5rem);
    height: var(--5, 2.5rem);
    flex-shrink: 0;
    border-radius: 50%;
}

.drop {
    width: 220px;
    height: 226px;
    background: white;
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    overflow: hidden;
    flex-direction: column;

    align-items: flex-start;
    display: none;
    position: absolute;
}

.drop div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1.2rem 0 1.2rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.drop-2 a {
    text-decoration: none;
    color: #0B0C0D;
}

.drop-3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 10rem;
    height: 3rem;
    margin-left: 1rem;
    background: #fff;
    border: none;
    cursor: pointer;
}

.drop-3 img {
    width: 2.5rem;
}

.user-info-container {
    display: flex;
    justify-content: center;
    padding-top: 7rem;
}

.user-info-container img {
    width: 7.625rem;
    height: 7.625rem;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 2.62rem;
}

.infos {
    display: flex;
    flex-direction: column;
}

.infos h3 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.infos p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.00938rem;
    color: var(--cor-3);
    margin: 1rem 0 1.5rem 0;
}

.infos button {
    display: flex;
    padding: 0.5rem 1.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0.02875rem;
    text-transform: uppercase;
    color: var(--cor-3);

    border-radius: var(--borderRadius, 0.25rem);
    background: var(--action-disabledBackground, rgba(0, 0, 0, 0.12));
    border: none;
}

.pesquisa {
    margin-top: 3.5rem;
    height: auto;
    width: 100%;

    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.pesquisa label {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.00938rem;
    color: var(--cor-2);
}

.pesquisa input {
    width: 32.0625rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.00938rem;

    padding: var(--none, 1rem) 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--none, 0rem);
    border-radius: var(--borderRadius, 0.25rem);
    border: var(--none, 1px) solid var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23));
}

.container-projetos {
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem 2rem;
    gap: 1.5rem;
    width: 100%;
    height: auto;
    margin-bottom: 4.94rem;
}

.empty-state {
    display: none;
}

.loading-state {

}

.project-list {
    display: none;
    
}

.enviar-projeto {
    display: flex;
    flex-direction: column;
    width: 24.3125rem;
    height: 16.125rem;
    padding: var(--none, 4.25rem 3.6875rem) var(--none, 4.25rem) var(--none, 3.75rem);
    gap: 1rem;
    flex-shrink: 0;

    border-radius: var(--borderRadius, 0.25rem);
    background: var(--cor-8);
    border: none;
}

.enviar-projeto img {
    width: 2.875rem;
    height: 2.875rem;
    flex-shrink: 0;
    margin-left: 7rem;
}

.p-1 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.03125rem;
    color: var(--cor-6);
    opacity: 0.6;
}

.p-2 {
    text-align: left;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.01563rem;
    opacity: 0.6;
}

.bloco {
    width: 24.3125rem;
    height: 16.125rem;
    display: flex;
    flex-shrink: 0;

    border-radius: var(--borderRadius, 0.25rem);
    background: rgba(230, 233, 242, 0.20);
    /*Adicionado*/
    flex-direction: column;

    display: inline-flex;
    padding: var(--none, 0rem);
    align-items: flex-start;
    gap: var(--1, 0.5rem);
}
/*Adicionado*/
.projeto {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.projeto-criado {
    /* position: relative; */
    width: 389px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
}

.imagem-projeto {
    position: relative;
    overflow: hidden;
    min-width: 48%;
}

.imagem-projeto .imagem {
    border-radius: 4px;
    width: 100%;
}

.projeto-imagem-container {
    position: relative;
}

.imagem-projeto-criado {
    margin: auto;
    width: 100%;
    height: 400px;
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    overflow: hidden;
}

.imagem-projeto-criado img {
    width: 100%;
    height: 100%;
}

.projeto-imagem-container img {
    width: 389px;
    height: 258px;
    border-radius: 8px;
}

.edicao-option {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #FFCC99;
    margin: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edicao-option img {
    width: 24px;
    height: 24px;
}

.balao-options {
    width: 208px;
    height: 104px;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 40px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 8px
    /* display: none; */
}
.balao-options::after {
    position: absolute;
    right: 15px;
    transform: rotate(45deg);
    top:-5px;
    content: "";
    width: 10px;
    height: 10px;
    background-color: white;
}

.balao-options button {
    height: 32px;
    background-color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 8px 24px;
    font-size: 16px;
    color: #515255;
}

.balao-options button:hover {
    background-color: #FFEECC;
}



.projeto-infos {
    display: flex;
    justify-content: space-between;
}

.projeto-infos-geral {
    display: flex;
    align-items: center;
    gap: 8px;
}

.projeto-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

/* Primeiro Modal (Adicionar projeto) */

.container-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    background: var(--components-backdrop-fill, rgba(0, 0, 0, 0.50));

    display: none;
    justify-content: center;
    align-items: center;
}


.modal-1 {
    position: absolute;
    width: 55.625rem;
    padding: 1.5rem 2rem;
    flex-shrink: 0;
    background: var(--cor-9);
    border-radius: var(--none, 0rem);
    display: none;
    flex-direction: column;
}

.modal-1 h4 {
    width: 51.625rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--cor-2);
}

.modal-1 p {
    margin: 1.5rem 0 1rem 0;
    color: var(--cor-2);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.00938rem;
}


.modal-4 {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background: var(--cor-5);
    width: 26.313rem;
    height: 15.125rem;
    margin-top: 2.5rem;
    padding: 0.5rem 1.375rem;
}

.modal-4 h4 {
    width: 255px;
    color: var(--cor-2);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.modal-4-btns {
    display: flex;
}

.btnClose4 {
    width: 7.625rem;
    padding: 0.5rem 1.375rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0.02875rem;
    text-transform: uppercase;
    color: var(--cor-3);

    border-radius: var(--borderRadius, 0.25rem);
    background: var(--action-disabledBackground, rgba(0, 0, 0, 0.12));
    border: none;
}

.btnSalvar4 {
    width: 7.625rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0.02875rem;
    text-transform: uppercase;
    color: var(--cor-5);
    background: var(--cor-4);
    padding: 0.5rem 1.375rem;
    margin-right: 1rem;

    border: none;
    border-radius: var(--borderRadius, 0.25rem);
    background: var(--Color-Brand-Secundria-Secondary-100, var(--cor-4));

    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}


.modal-4-img {
    background: green;
    padding: 0.1rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
}

/* Imagem exibida pelo usuário*/
#exibir-projeto {
    width: 24.3125rem;
    height: 19rem;
    display: none;
    object-fit: cover;
}

.enviar-projeto-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24.3125rem;
    height: 19rem;
    padding: 5.69rem 3.69rem;
    border-radius: var(--borderRadius, 0.25rem);
    background: var(--Neutral-Colors-Neutral-70, #E6E9F2);
    border: none;
}

.enviar-projeto-2 p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.01563rem;
}

#Form-modal-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4.5rem;
    right: 2rem;

    width: 25.8125rem;
    height: 21rem;
    gap: 1rem;
}

#Form-modal-1 input {
    width: 25.6rem;
    flex-shrink: 0;
    color: var(--Neutral-Colors-Neutral-100, var(--cor-3));
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.00938rem;

    border-radius: var(--borderRadius, 0.25rem);
    border: var(--none, 1px) solid var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23));
}

#titulo,
#tags,
#link {
    padding: 1rem 0.75rem;
}

#descricao {
    height: 7.1rem;
    padding: 1rem 0.75rem 4.5rem 0.75rem;
}

.modal-bts p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.00938rem;
    color: var(--cor-2);
}

#btnSalvar {
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0.02875rem;
    text-transform: uppercase;
    color: var(--cor-5);
    background: var(--cor-4);
    padding: 0.5rem 1.375rem;
    margin-right: 1rem;

    border: none;
    border-radius: var(--borderRadius, 0.25rem);
    background: var(--Color-Brand-Secundria-Secondary-100, var(--cor-4));

    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#btnClose {
    padding: 0.5rem 1.375rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0.02875rem;
    text-transform: uppercase;
    color: var(--cor-3);

    border-radius: var(--borderRadius, 0.25rem);
    background: var(--action-disabledBackground, rgba(0, 0, 0, 0.12));
    border: none;
}


.modal-projeto-criado {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 80%;
    max-width: 64rem;
    border-radius: var(--none, 0rem);
    background: #FFF;
    padding: 3.5rem 6rem;
    z-index: 2;
    position: relative;
}



.close {
    position: absolute;
    top: 1rem;
    right: 1.25rem;
}

.title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 32px;
    position: relative;
}

.title-1 {
    /* position: absolute; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-height: 3.125rem;
}

.title-infos {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

}

.title-projeto {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tags {
    /* position: absolute; */
    top: 0;
    right: 0;
    display: flex;
    gap: 1rem;
}

.tags p {
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.01rem;
    padding: 0.5rem;
    border-radius: 6.25rem;
    background: var(--action-selected, rgba(0, 0, 0, 0.08));
}

h5 {
    color: var(--cor-2);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

#exibir-projeto-2 {
    display: flex;
    object-fit: cover;
    margin-top: 2.05rem;
    width: 52.375rem;
    height: 36.5625rem;
    border-radius: var(--none, 0rem);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.descricao {
    margin-top: 4.01rem;
    width: 100%;

    display: flex;
    flex-direction: column;

    color: var(--Neutral-Colors-Neutral-120, var(--cor-6));
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.03125rem;
}

span {
    margin-top: 4rem;
    color: var(--Neutral-Colors-Neutral-130, #0B0C0D);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.00938rem;
}



/* último modal (Confirmação do envio) */
.modal-3 {
    display: none;
    position: absolute;
    top: 0;
    height: 0;
    padding: 2rem 3rem;
    margin-top: 20.44rem;
    width: 21.9375rem;
    height: 15.125rem;
    background: var(--cor-5);
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-3 p {
    color: var(--Neutral-Colors-Neutral-110, var(--cor-2));
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.modal-3 img {
    background: green;
    padding: 0.1rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
}

.voltar-proj {
    display: flex;
    width: 15.875rem;
    padding: 0.5rem 1.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    color: var(--Neutral-Colors-Neutral-60, var(--cor-5));
    font-feature-settings: 'clig' off, 'liga' off;

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0.02875rem;
    text-transform: uppercase;

    border: none;
    border-radius: var(--borderRadius, 0.25rem);
    background: var(--Color-Brand-Secundria-Secondary-100, var(--cor-4));
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}



@media screen and (max-width:950px) {
    .container-modal {
        position: absolute;
        /* top: 0;
        left: 0; */
        height: 100vh;
        display: none;
        justify-content: center;
    }

    .menu {
        display: inline;
        width: 3.5rem;
        position: absolute;
        left: 0;
    }

    .h-1 {
        display: flex;
        align-items: center;
        gap: 4.25rem;
        padding-left: 2rem;
    }

    .h-1 a {
        display: none;
    }

    .user-info-container {
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }

    .user-info-container img {
        width: 7.625rem;
        height: 7.625rem;
        flex-shrink: 0;
        border-radius: 50%;
        margin-right: 0rem;
        margin-bottom: 1rem;
    }


    .infos p {
        margin: 0.5rem 0 0.5rem 0;
        color: var(--cor-3)
    }

    .pesquisa {
        font-display: flex;
        justify-content: center;
        padding-left: 0;
        align-items: center;
    }

    .pesquisa input {
        width: 19.5rem;
    }

    .pesquisa label {
        width: 19.5rem;
    }

    .container-projetos {
        display: flex;
        justify-content: center;
        padding: 0;
        gap: 1.5rem;
        margin: 1.6rem 0 4.94rem 0;
    }

    .enviar-projeto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 19.5rem;
        height: 16.125rem;
    }

    .enviar-projeto img {
        margin-left: 0rem;
    }

    .bloco {
        width: 19.5rem;
        height: 16.125rem;
    }

    .enviar-projeto p {
        width: 16.875rem;
        text-align: start;
    }



    .modal-1 {
        width: 80%;
    }

    .modal-1 h4 {
        width: 100%;
    }

    .modal-1 p {
        margin-top: 1rem;
    }

    .enviar-projeto-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 23.25rem;
        height: 19rem;
        padding: 5.69rem auto;
        text-align: center;
        border-radius: var(--borderRadius, 0.25rem);
        background: var(--Neutral-Colors-Neutral-70, #E6E9F2);
        border: none;
    }

    .enviar-projeto-2 p {
        width: 16rem;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 0.875rem;
        letter-spacing: 0.01563rem;
    }

    #Form-modal-1 {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 4.5rem;
        left: auto;

        width: 100%;
        height: 21rem;
        gap: 1rem;
        margin-top: 1rem;
    }

    #Form-modal-1 input {
        width: 100%;
        flex-shrink: 0;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.00938rem;

        border-radius: var(--borderRadius, 0.25rem);
        border: var(--none, 1px) solid var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23));
    }

    #descricao {
        height: 7.1rem;
        padding: 1rem 0.75rem 4.5rem 0.75rem;
    }



    /* Modal de visualização*/

    .container-projetos{
        overflow: hidden;
    }

    #exibir-projeto-2 {
        display: flex;
        object-fit: cover;
        margin-top: 2.05rem;
        max-width: 85vw;
        height: 20rem;
        border-radius: var(--none, 0rem);
        margin-top: 5rem;
        
    }

    .title{
        position: relative;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
        order: 2;
    }

    .title-projeto {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .container-tags{
        height:auto;
    }

    .descricao{
        order: 3;
    }
}

@media screen and (max-width:600px){
    .modal-4 {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: var(--cor-5);
        width: 26.313rem;
        height: 15.125rem;
        margin-top: 2.5rem;
        padding: 0.5rem 1.375rem;
    }
}


@media screen and (max-width:484px) {
    .modal-1 {
        margin: 0;
    }

    .enviar-projeto-2 {
        width: 100%;
    }

    .enviar-projeto-2 p {
        width: 100%;
    }

    #exibir-projeto {
        width: 100%;
        object-fit: fill;
    }
}
