:root {
    --cor-1: #224;
    --cor-2: #515255;
    --cor-3: #818388;
    --cor-4: #F52;
    --cor-5: #FCFDFF;
    --cor-6: #303133;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-login {
    display: flex;
    align-items: center;
}

.img-1 {
    height: 100vh;
    width: 30%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 70%;
    height: 100vh;
}


.sucesso {
    display: flex;
    width: 320px;
    padding: 10px 16px;
    gap: 1rem;
    border-radius: 4px;
    align-items:center;
    background-color: var(--cor-7);
}

.sucesso img {
    width: 22px;
    height: 22px;
}

.sucesso h2 {
    align-self: stretch;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--cor-5);
}

.login h1 {
    color: var(--cor-1);
    font-family: Roboto;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
}

.img-2 {
    width: 1.3rem;
    height: 1.3rem;
}

form {
    position: relative;
    display: flex;
    width: 32.3125rem;
    height: 20.9375rem;
    padding-bottom: 0.1875rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.125rem;
    flex-shrink: 0;
    margin-top: 0.7rem;

}

label {
    padding: 0 5px;
    position: absolute;
    background: #fff;
    color: var(--cor-2);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.025rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row input {
    width: 15.5rem;
    
}

.row div {
    margin-right: 4.5%;
}

#lb-1 {
    top: 23px;
    left: 13px;
}

#lb-2 {
    top: 23px;
    left: 280px;
}

#lb-3 {
    top: 99px;
    left: 13px;
}

#lb-4 {
    top: 176px;
    left: 13px;
}

input {
    width: 32.3125rem;
    display: flex;
    padding: var(--none, 1rem) 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--none, 0rem);
    align-self: stretch;

    color: var(--Neutral-Colors-Neutral-120, #303133);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.00938rem;

    border-radius: var(--borderRadius, 0.25rem);
    border: var(--none, 1px) solid var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23));
}

#submit {
    background: var(--cor-4);
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 0.5rem 1.375rem;

    border-radius: 0.25rem;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0.02875rem;
    text-transform: uppercase;
    color: var(--cor-5);
}

#submit:hover {
    cursor: pointer;
}

form a {
    text-decoration: none;
    color: var(--cor-3);
}




@media screen and (max-width:1400px) {
    .img-1 {
        height: 100vh;
        width: 500px;
    }

}

@media screen and (max-width:1150px) {
    .img-1 {
        display: none;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: 100vh;
    }

    .login h1 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }



    form {
        width: 19.5rem;
    }

    .form-title {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0.00938rem;
    }

    label {
        padding: 0 5px;
        position: absolute;
        background: #fff;
        color: var(--cor-2);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0.025rem;
    }

    #lb-1 {
        top: 29px;
        left: 13px;
    }

    #lb-2 {
        top: 105px;
        left: 13px;
    }

    input {
        width: 19.5rem;
    }

    #submit {
        background: var(--cor-4);
        display: flex;
        width: 19.5rem;
        height: 2.625rem;
        padding: 0.5rem 1.375rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

}